<div class="mat-more-fab-buttom">
    <button mat-icon-button style="color: white;" [matMenuTriggerFor]="appMenu">
        <mat-icon>filter_list</mat-icon>
    </button>
</div>

<mat-menu #appMenu="matMenu">
    <button mat-menu-item (click)="toggleFinalized()">
        <mat-checkbox [(ngModel)]="showFinalized"></mat-checkbox>
        Mostrar finalizados
    </button>
    <div mat-menu-item disableRipple (click)="$event.stopPropagation()" class="filter-form-field">
        <mat-form-field appearance="outline">
            <input matInput [(ngModel)]="filter.interval[0]" (focus)="picker.open()" [matDatepicker]="picker"
                   (ngModelChange)="tablesComponent.refresh(true)" placeholder="Dt. início">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div mat-menu-item disableRipple (click)="$event.stopPropagation()" class="filter-form-field">
        <mat-form-field appearance="outline">
            <input [(ngModel)]="filter.interval[1]" (ngModelChange)="tablesComponent.refresh(true)" (focus)="picker2.open()" matInput
                   [matDatepicker]="picker2" placeholder="Dt. fim">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
    </div>
</mat-menu>

<app-tables #tablesComponent [filter]="filter" [showFinalized]="showFinalized"></app-tables>


