@import "../../../../less/variables";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 100;

  mat-dialog-content {
    overflow: auto;
  }

  .input-card {
    margin-bottom: 10px;
  }

  mat-radio-group {
    mat-radio-button:first-child {
      margin-left: 0px !important;
    }

    mat-radio-button {
      margin-left: 30px;
    }
  }

  .block-btn {
    width: 100%;
  }

  mat-form-field {
    width: 100%;
  }

  .order-form {
    min-width: 300px;
  }

  @media screen and (min-width: @screen-sm-min) {
    .order-form {
      min-width: 100%;
    }
  }

  @media screen and (min-width: @screen-md-min) {
    .order-form {
      min-width: 600px;
    }
  }
}


// /deep/.mat-select-search-inner{
//   width: 100%;
// }

// /deep/.mat-select-panel{
//   font-size: 14px;
//   opacity: 1;
//   min-width: 100% !important;
//   height: 100% !important;
//   max-height: 100% !important;
// }

// /deep/.cdk-overlay-pane.cdk-overlay-pane-select-search{
//   top: 0px !important;
//   left: 0px !important;
//   height: 100% !important;
//   width: 100% !important;
//   transform: none !important;
// }
