<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content [formGroup]="form" class="mat-typography order-form">
    <mat-progress-bar *ngIf="loading" [ngClass]="{'disabled': !loading}" mode="indeterminate"></mat-progress-bar>
    <span class="white-space" *ngIf="!loading"></span>
    <mat-card-content fxLayout="column">
        <mat-form-field>
            <input matInput placeholder="Mesa" formControlName="table" name="table" type="text" required>
            <mat-error *ngIf="form.controls['table'].hasError('required')">
                O campo mesa é <strong>obrigatório.</strong>
            </mat-error>
        </mat-form-field>
    </mat-card-content>
</mat-dialog-content>
<span class="spacer"></span>
<mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancelar</button>
    <span class="spacer"></span>
    <button mat-button mat-raised-button color="accent" [disabled]="form.invalid || form.pending || loading"
            (click)="save()">Salvar
    </button>
</mat-dialog-actions>
