<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content [formGroup]="form" class="mat-typography">
    <mat-progress-bar *ngIf="loading" [ngClass]="{'disabled': !loading}" mode="indeterminate"></mat-progress-bar>
    <span class="white-space" *ngIf="!loading"></span>
    <mat-card-content fxLayout="column">
        <div fxFlex="100" class="input-card">
            <mat-form-field class="full-width">
                <input matInput placeholder="Descrição" formControlName="description" name="description" type="text"
                       required>
                <mat-error *ngIf="form.controls['description'].hasError('required')">
                    O campo item é <strong>obrigatório.</strong>
                </mat-error>
                <mat-hint *ngIf="hasError('description')" style="color: #f44336;">
                    {{ getError('description') }}
                </mat-hint>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Preço de venda" formControlName="price" name="price"
                       type="number"
                       min="0"
                       required>
                <span matSuffix>R$</span>
                <mat-error *ngIf="form.controls['price'].hasError('required')">
                    O campo preço de venda é <strong>obrigatório.</strong>
                </mat-error>
                <mat-hint *ngIf="hasError('price')" style="color: #f44336;">
                    {{ getError('price') }}
                </mat-hint>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Custo" formControlName="cost" name="cost"
                       type="number"
                       min="0"
                       required>
                <span matSuffix>R$</span>
                <mat-error *ngIf="form.controls['cost'].hasError('required')">
                    O campo custo é <strong>obrigatório.</strong>
                </mat-error>
                <mat-hint *ngIf="hasError('cost')" style="color: #f44336;">
                    {{ getError('cost') }}
                </mat-hint>
            </mat-form-field>
        </div>
    </mat-card-content>
</mat-dialog-content>
<span class="spacer"></span>
<mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancelar</button>
    <span class="spacer"></span>
    <button mat-button mat-raised-button color="accent" [disabled]="form.invalid || form.pending || loading"
            (click)="save()">Salvar
    </button>
</mat-dialog-actions>
