<form [formGroup]="resetForm" (ngSubmit)="onSubmit(resetForm.value)" novalidate class="recovery-card"
      fxFlex.xs="100%"
      fxFlex.sm="76%" fxFlex.md="46%" fxFlex.lg="36%" fxFlex.xl="26%">
    <mat-toolbar class="default-toolbar mat-elevation-z4">
        <a mat-icon-button routerLink="/auth/login">
            <mat-icon>arrow_back</mat-icon>
        </a>
        <span>Recuperar Senha</span>
    </mat-toolbar>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <mat-card>
        <span class="white-space" *ngIf="!loading"></span>
        <mat-card-content fxLayout="column">

            <mat-form-field class="full-width">
                <input matInput placeholder="E-mail" type="text" formControlName="username" required email>
                <mat-error
                        *ngIf="!resetForm.controls['username'].hasError('required') && resetForm.controls['username'].hasError('email')">
                    Entre com um endereço de e-mail válido.
                </mat-error>
                <mat-error *ngIf="resetForm.controls['username'].hasError('required')">
                    O campo e-mail é <strong>obrigatório.</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input appValidateEqual="password_confirmation" minlength="6" matInput placeholder="Senha"
                       formControlName="password"
                       type="password" required>
                <mat-error *ngIf="resetForm.controls['password'].hasError('required')">
                    O campo senha é <strong>obrigatório.</strong>
                </mat-error>

                <mat-error
                        *ngIf="!resetForm.controls['password'].hasError('required') && resetForm.controls['password'].hasError('minlength')">
                    A senha deve conter no mínino <strong>6</strong> caracteres.
                </mat-error>

                <mat-error
                        *ngIf="!resetForm.controls['password'].hasError('required') && !resetForm.controls['password'].hasError('minlength') && resetForm.controls['password'].hasError('validateEqual')">
                    As senhas não conferem.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="C/ Senha" minlength="6"  formControlName="password_confirmation" type="password" required>
                <mat-error *ngIf="resetForm.controls['password_confirmation'].hasError('required')">
                    O campo confirmação senha é <strong>obrigatório.</strong>
                </mat-error>
                <mat-error
                        *ngIf="!resetForm.controls['password_confirmation'].hasError('required') && resetForm.controls['password_confirmation'].hasError('minlength')">
                    A senha deve conter no mínino <strong>6</strong> caracteres.
                </mat-error>
            </mat-form-field>

        </mat-card-content>
        <mat-card-actions style="margin: 3px 3px 0 3px;" fxLayout="column">
            <button type="submit" mat-button mat-raised-button color="primary"
                    [disabled]="resetForm.invalid || loading">Resetar Senha
            </button>
        </mat-card-actions>
    </mat-card>
</form>