<div class="mat-more-fab-buttom">
    <button mat-icon-button style="color: white;" [matMenuTriggerFor]="appMenu">
        <mat-icon>filter_list</mat-icon>
    </button>
</div>
<mat-menu #appMenu="matMenu">
    <div mat-menu-item disableRipple (click)="$event.stopPropagation()" class="filter-form-field">
        <mat-form-field appearance="outline">
            <input matInput [(ngModel)]="filter.interval[0]" (focus)="picker.open()" [matDatepicker]="picker"
                   (ngModelChange)="refresh()"
                   placeholder="Dt. início">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div mat-menu-item disableRipple (click)="$event.stopPropagation()" class="filter-form-field">
        <mat-form-field appearance="outline">
            <input [(ngModel)]="filter.interval[1]" (ngModelChange)="refresh()"
                   (focus)="picker2.open()" matInput [matDatepicker]="picker2"
                   placeholder="Dt. fim">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
    </div>
</mat-menu>
<div class="mat-toolbar-fab-buttom">
    <button mat-fab color="accent" (click)="refresh()">
        <mat-icon>refresh</mat-icon>
    </button>
</div>
<div style="display: flex; flex-direction: row; justify-content: space-between; flex-wrap: wrap;">
    <mat-card fxFlex.lt-sm="100" fxFlex.gt-sm="19" class="indicator-card mat-typography text-center push-10">
        <div class="push-10">
            <span class="mat-display-1">{{ data.orders_count | number: '1.0' }}</span>
        </div>
        <div class="mat-subheading-1">
            <mat-icon class="push-10-r">restaurant</mat-icon>
            <span>Pedidos</span>
        </div>
    </mat-card>
    <mat-card fxFlex.lt-sm="100" fxFlex.gt-sm="19" class="indicator-card mat-typography text-center push-10">
        <div class="push-10">
            <span class="mat-display-1">{{ data.balance | number: '1.2-2' }}R$</span>
        </div>
        <div class="mat-subheading-1">
            <mat-icon class="push-10-r">account_balance_wallet</mat-icon>
            <span>Caixa</span>
        </div>
    </mat-card>
    <mat-card fxFlex.lt-sm="100" fxFlex.gt-sm="19" class="indicator-card mat-typography text-center push-10">
        <div class="push-10">
            <span class="mat-display-1">{{ data.cost | number: '1.2-2' }}R$</span>
        </div>
        <div class="mat-subheading-1">
            <mat-icon class="push-10-r">money_off</mat-icon>
            <span>Custo</span>
        </div>
    </mat-card>
    <mat-card fxFlex.lt-sm="100" fxFlex.gt-sm="19" class="indicator-card mat-typography text-center push-10">
        <div class="push-10">
            <span class="mat-display-1">{{ data.discount | number: '1.2-2' }}R$</span>
        </div>
        <div class="mat-subheading-1">
            <mat-icon class="push-10-r">money_off</mat-icon>
            <span>Descontos</span>
        </div>
    </mat-card>
    <mat-card fxFlex.lt-sm="100" fxFlex.gt-sm="19" class="indicator-card mat-typography text-center push-10">
        <div class="push-10">
            <span class="mat-display-1">{{ data.cancelled_count | number: '1.0' }}</span>
        </div>
        <div class="mat-subheading-1">
            <mat-icon class="push-10-r">delete</mat-icon>
            <span>Cancelados</span>
        </div>
    </mat-card>
</div>
<div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;">
    <mat-card class="push-10" fxFlex.lt-sm="100" fxFlex.gt-sm="30"
              style="display: flex; flex-direction: column;">
        <mat-card-header>
            <mat-card-title>Top Itens</mat-card-title>
        </mat-card-header>
        <table mat-table [dataSource]="paginator.data">
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No.</th>
                <td mat-cell *matCellDef="let element; let i = index"> {{ element.rank_id }} </td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Item</th>
                <td mat-cell *matCellDef="let element"> {{element.item}} </td>
            </ng-container>
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Qtd.</th>
                <td mat-cell *matCellDef="let element"> {{element.count}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <span style="flex: 1"></span>
        <div class="mat-typography text-center push-10-t absolute-center" *ngIf="paginator.data?.length === 0">
            Nenhum item disponível
        </div>
        <mat-paginator (page)="processPaginate(($event.pageIndex + 1), $event.pageSize)"
                       [length]="paginator.meta.total" [pageSize]="5"
                       [pageSizeOptions]="[5]">
        </mat-paginator>
    </mat-card>
    <mat-card fxFlex.lt-sm="100" fxFlex.gt-sm="69"
              class="push-10"
              style="display: flex; flex-direction: column;">
        <mat-card-header>
            <mat-card-title>Relação</mat-card-title>
            <span style="flex: 1"></span>
            <mat-form-field style="width: 100px;">
                <mat-select placeholder="Agrupamento" [(ngModel)]="filter.group" (ngModelChange)="refresh()">
                    <mat-option [value]="'day'">Dia</mat-option>
                    <mat-option [value]="'month'">Mes</mat-option>
                    <mat-option [value]="'year'">Ano</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card-header>
        <div style="height: 250px" #container></div>
    </mat-card>
</div>
