<h2 mat-dialog-title style="margin: 0 0 20px -10px">Finalizar {{ order.table }}</h2>
<mat-dialog-content class="mat-typography order-form">
    <mat-card-content fxLayout="column">

        <h3 class="mat-subheading-1" style="margin: 0 0 0 -10px">Total:  {{ (totalComputedPrice || 0) | number: '1.2-2' }} R$</h3>
        <h3 class="mat-subheading-1" style="margin: 0 0 0 -10px">Itens</h3>
        <div class="text-center" *ngIf="items.length === 0">
            <h4 class="text-center">Nenhum item no pedido</h4>
        </div>

        <mat-action-list style="margin: 0 -10px 0 -20px;">
            <mat-list-item disableRipple class="order-item mat-typography" *ngFor="let item of items; let i = index;">
                <span mat-list-icon class="push-5-r"> {{ item.quantity }}x </span>
                <h4 mat-line>{{ getItemById(item.item_id)?.description }}</h4>
                <p mat-line> Obs: {{ item.observation }} </p>
                <span class="push-10-r mat-list-icon" style="width: auto; white-space: nowrap;">
                    {{ (item.price || 0) - (item.discount || 0) | number: '1.2-2' }} R$
                </span>
            </mat-list-item>
        </mat-action-list>

    </mat-card-content>
</mat-dialog-content>
<span class="spacer"></span>
<mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancelar</button>
    <span class="spacer"></span>
    <button mat-button mat-raised-button color="accent" [disabled]="loading" (click)="save()">Finalizar
    </button>
</mat-dialog-actions>