@import "../../../../less/variables";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 100;

  .order-item {
    border-radius: 6px;
    border-bottom: dashed #666 2px;
    margin: 0 5px 10px 5px;
    position: relative;
  }

  mat-dialog-content {
    overflow: auto !important;
    max-height: 65vh !important;
  }

  mat-list-item {
    height: 30px;
  }

  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 10px;
    top: -10px;
    left: 0;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 33.333%, #FFFFFF 33.333%, #FFFFFF 66.667%, rgba(0, 0, 0, 0) 66.667%), linear-gradient(-45deg, rgba(0, 0, 0, 0) 33.333%, #FFFFFF 33.333%, #FFFFFF 66.667%, rgba(0, 0, 0, 0) 66.667%);
    background-size: 20px 40px;
    background-position: 50% -30px;
    background-repeat: repeat-x;
    transform: scale(-1);
    z-index: 1;
  }

  mat-form-field {
    width: 100%;
  }

  .order-form {
    min-width: 90vw;
  }
}
